[user]
    name = HallexCosta
    email = hallex.costa@hotmail.com
[core]
    editor = nvim 
    pager = most
[color]
    ui = auto
[merge]
    conflictstyle = diff3
[alias]
	rootDir = rev-parse --show-toplevel
